<html>
<head>
  <link rel="stylesheet" type="text/css" href="/site_media/css/databank.css">
</head>
<body>
<div id="content">
<a href="/patients/create" class="addlink">Add New Patient</a>
{% if object_list %}
  <table id="patient_list_table" frame="hsides" rules="cols" style="border-width: 5px">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone #</th>
      <!--<th>Entry Date</th>-->
      <th>Age</th>
      <th>Gender %</th>
      <th>Action</th>
    </tr>
  {% for patient in object_list %}
    <tr>
      <td>{{ patient.first_name }}</td>
      <td>{{ patient.last_name }}</td>
      <td>{{ patient.phone_number }}</td>
      <!--<td>{{ patient.entry_date }}</td>-->
      <td>{{ patient.age }}</td>
      <td>{{ patient.gender }}</td>
      <td><a href="/patients/delete/{{ patient.patient_id }}/">Delete</a></td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <p>No patients found.</p>
{% endif %}
<div style="margin-top:10px;"/>
{% if page_range %}
<ul class="page_list">
{% for page in page_range %}
<li><a href="/patients/?page={{page}}">{{page}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No more pages.</p>
{% endif %}
</div>
</div>
</body>
</html>